/* Osnovni stil */
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: #eef2f3;
}

/* Stil glave */
header {
  background: linear-gradient(135deg, #35424a 50%, #4b646f 50%);
  color: #ffffff;
  padding: 40px 0;
  text-align: center;
  position: relative;
}

header h1 {
  margin: 0;
  font-size: 3em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

nav {
  margin-top: 20px;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 20px;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #d1d1d1;
}

/* Stil glavnega dela */
main {
  padding: 30px;
  max-width: 800px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-top: -50px;
  z-index: 1;
  position: relative;
}

/* Stil sekcij */
section {
  margin-bottom: 30px;
}

h2,
h3 {
  color: #35424a;
  border-bottom: 2px solid #4b646f;
  padding-bottom: 10px;
}

input[type="text"],
input[type="email"] {
  width: calc(100% - 22px);
  padding: 12px;
  margin-top: 5px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  transition: border-color 0.3s;
}

input[type="text"]:focus {
  border-color: #35424a;
  outline: none;
}

/* Stil za gumbe */
button {
  background: #78c0df;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s, transform 0.3s;
}

button:hover {
  background: #35424a;
  transform: translateY(-2px);
}

/* Stil noge */
footer {
  text-align: center;
  padding: 15px 0;
  background: #35424a;
  color: #ffffff;
  position: relative;
  bottom: 0;
  width: 100%;
}

/* Fiksna slika */
.header-image {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 300px;
  object-fit: cover;
  z-index: -1; /* Slika za ostalimi elementi */
}

/* Stil za iskanje */
#recipe-search {
  text-align: center;
  margin-bottom: 30px;
}

#recipe-search input[type="text"] {
  width: calc(70% - 22px);
}

#recipe-search button {
  padding: 12px 25px;
}

/*Stil za izzive */
#izziviList {
  list-style: none;
  padding: 0;
}

#izziviList li {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
}

#izziviList li button {
  margin-left: 10px;
  background: #ff5c5c;
  border-radius: 5px;
}

#izziviList li button:hover {
  background: #ff3b3b;
}

/* Prikaz receptov */
.recept-card {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.recept-card h3 {
  font-size: 1.8em;
  color: #35424a;
  margin-bottom: 15px;
  font-weight: bold;
}

.recept-card p {
  font-size: 1.1em;
  color: #333;
  margin-bottom: 10px;
}

/* Gumbi za recept */
.buttons-container {
  margin-top: 15px;
  text-align: center;
}

.buttons-container button {
  background-color: #78c0df;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.1em;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin: 0 10px;
}

.buttons-container button:hover {
  background-color: #35424a;
  transform: translateY(-2px);
}

.buttons-container button:active {
  background-color: #2a3b3c;
  transform: translateY(2px);
}

/* Dodatno prilagodimo razmik med posameznimi recepti */
.recept-card + .recept-card {
  margin-top: 20px; /* Večji razmik med recepti */
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
label {
  font-weight: bold;
}
input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.divider {
  margin: 20px 0;
  text-align: center;
  color: #aaa;
}

/* Posodobitev stila za pogostost sestavin */
#pogostost-sestavin {
  margin-top: 30px;
  padding: 20px;
  border: 1px solid #ddd;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

#pogostost-sestavin h3 {
  color: #35424a;
  font-size: 1.5em;
  margin-bottom: 15px;
  text-align: center;
}

#pogostost-sestavin ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#pogostost-sestavin li {
  margin: 10px 0;
  padding: 12px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 1.1em;
  color: #333;
  transition: background-color 0.3s, transform 0.3s;
}

#pogostost-sestavin li:hover {
  background-color: #78c0df;
  transform: translateY(-2px);
}

#pogostost-sestavin li:last-child {
  margin-bottom: 0;
}

